<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
  <connectionStrings>
    <add name="ServigesConnectionString" connectionString="Data Source=.;Initial Catalog=Serviges;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ServigesConnectionString1" connectionString="Data Source=.;Initial Catalog=Serviges;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
    </compilation>
  </system.web>
</configuration>